<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', {title: 'Login'}) %>
  <body>
    <%- include('../partials/header.ejs') %>
    <main class="container mx-auto">
      <form
        action="/auth/login"
        method="post"
        class="p-6 px-20 bg-stone-100 rounded-md max-w-[60%] mx-auto shadow-xl flex flex-col gap-4"
      >
        <h1 class="text-3xl font-bold text-center my-8">Login</h1>
        <div class="flex flex-col grow gap-2">
          <label for="username"
            >Username <%- include ('../partials/requiredDot.ejs') %>
          </label>
          <input class="rounded-md shadow py-2 px-4 focus:outline-teal-500"
          type="text" name="username" id="username" 
          <% if (locals.username) { %>
            value="<%= username %> "
          <% } %>
          required />
        </div>
        <div class="flex flex-col grow gap-2">
          <label for="password"
            >Password <%- include ('../partials/requiredDot.ejs') %>
          </label>
          <input
            class="rounded-md shadow py-2 px-4 focus:outline-teal-500"
            type="password"
            name="password"
            id="password"
            required
          />
        </div>
        <% if (locals.error) { %>
          <p class="text-center text-red-500 text-lg font-medium mt-4"><%= error %> </p>
        <% } %>
        <button
          class="py-4 px-6 my-6 text-white bg-teal-500 text-xl shadow-md rounded-md hover:bg-teal-600 focus:translate-y-[2px] self-center"
        >
          Login
        </button>
      </form>
      <div class="text-center mt-10">
        <h4>Don't have an account?</h4>
        <a class="text-teal-500 hover:underline" href="/auth/register"
          >Register first</a
        >
      </div>
    </main>
  </body>
</html>
